<div class="columns">
  <div class="column is-hidden-mobile is-1"></div>
  <div class="column is-10">
    <div class="tile is-ancestor" *ngIf="((pendingBatches$ | async) | json) == '{}'">
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title">Nothing Pending</p>
          <p class="subtitle">
            Great job, you are all caught up
          </p>
        </div>
      </div>
    </div>
    <div class="tile is-ancestor" *ngIf="((pendingBatches$ | async) | json) != '{}'">
      <div class="tile is-parent">
        <div class="tile is-child box" [ngSwitch]="routeData">
          <ng-container *ngSwitchCase="'explore'">
            <p class="title">Explore Batches</p>
          </ng-container>
          <ng-container *ngSwitchCase="'review'">
            <p class="title">Batches Needing Review</p>
          </ng-container>
          <ng-container *ngSwitchCase="'history'">
            <p class="title">Previous Batches</p>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <p class="title"></p>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="tile is-ancestor" *ngFor="let obj of (pendingBatches$ | async) | keyvalue: keyDescOrder">
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="subtitle"><strong>{{obj.value[0].dateCreated.toDate() | date}}</strong></p>
          <div class="content">
            <table class="batches-table">
              <thead>
                <tr>
                  <th>Count</th>
                  <th>Filename</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngFor="let batch of obj.value">
                <tr>
                  <td>{{batch.count}}</td>
                  <td>{{batch.filename}}</td>
                  <td>
                    <div class="buttons is-right">
                      <button class="button is-light is-small"
                        [ngClass]="{'is-link': routeData === 'review', 'is-success': routeData === 'explore' || routeData === 'history'}"
                        [routerLink]="[batch.id]">
                        <span *ngIf="routeData === 'review'">Review</span>
                        <span *ngIf="routeData === 'explore' || routeData === 'history'">Explore</span>
                        <span class="icon">
                          <i class="fas fa-file-invoice"></i>
                        </span>
                      </button>
                      <button class="button is-danger is-light is-small" (click)="deleteConfirmation(batch)" *ngIf="routeData !== 'history'" >
                        <span>Delete</span>
                        <span class="icon">
                          <i class=" fas fa-trash-alt"></i>
                        </span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-hidden-mobile is-1"></div>
</div>

<div class="modal" [ngClass]="{'is-active': showModal}" *ngIf="modalType === modalTypes.DeleteConfirmation">
  <div class="modal-background"></div>
  <div class="modal-content is-white">
    <div class="box">
      <h1 class="title">Delete - Are You Sure?</h1>
      <h2 class="subtitle">This cannot be undone.</h2>
      <div class="buttons is-right">
        <button class="button is-info is-light" (click)="reset()" [ngClass]="{'is-loading': pending}">Cancel</button>
        <button class="button is-danger" (click)="delete()" [ngClass]="{'is-loading': pending}">Delete</button>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="reset()"></button>
</div>
