<div class="columns">
  <div class="column is-hidden-mobile is-2"></div>
  <div class="column is-4">
    <div class="field">
      <label class="label is-small">Search (Patient Id)</label>
      <div class="control">
        <input class="input is-small" type="text" [(ngModel)]="searchTerm" placeholder="Patient Id ex. 123456789">
      </div>
    </div>
  </div>
  <div class="column is-4">
  </div>
  <div class="column is-hidden-mobile is-2"></div>
</div>
<!-- <div class="columns">
  <div class="column is-hidden-mobile is-2"></div>
  <div class="column is-4">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">From</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <input class="input" type="date">
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-4">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">To</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <input class="input" type="date">
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-hidden-mobile is-2"></div>
</div> -->
<div class="columns">
  <div class="column is-hidden-mobile is-2"></div>
  <div class="column is-4">
    <div class="field">
      <p class="control">
        <button [disabled]="!searchTerm" class="button is-info is-small"
          (click)="getPropertyById(searchTerm)">Search</button>
      </p>
    </div>
  </div>
  <div class="column is-4">
  </div>
  <div class="column is-hidden-mobile is-2"></div>
</div>

<div class="columns" *ngIf="results.length">
  <div class="column is-hidden-mobile is-2"></div>
  <div class="column">
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th *ngFor="let header of headerTitles">{{header}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of results">
            <td>
              <button class="button is-info is-small" (click)="getLetterObj(row)">Get Letter</button>
            </td>
            <td>
              <button class="button is-info is-small" [disabled]="!row.url"
                (click)="openLetter(row.url)">Open</button>
            </td>
            <td *ngFor="let header of headers">
              <ng-container *ngIf="header === 'created'">{{row[header].toDate() | date:'yyyy/MM/dd h:mm:ss a'}}
              </ng-container>
              <ng-container *ngIf="header !== 'created'">{{row[header]}}</ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="column is-hidden-mobile is-2"></div>
</div>
