<div class="columns">
  <div class="column is-hidden-mobile is-1"></div>
  <div class="column is-10">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title">Search</p>
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input is-small" type="text" [(ngModel)]="searchTerm"
                    placeholder="Patient Id ex. 123456789">
                </p>
              </div>
              <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                  <button [disabled]="!searchTerm" class="button is-info is-small"
                    (click)="getPropertyById(searchTerm)">Search</button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-hidden-mobile is-1"></div>
</div>
<div class="columns" *ngIf="results.length">
  <div class="column is-hidden-mobile is-1"></div>
  <div class="column column is-full-mobile is-10">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child box">
          <div class="table-container">
            <table class="table is-narrow is-striped">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th *ngFor="let header of headerTitles">{{header}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of results">
                  <td>
                    <button class="button is-info is-small" (click)="getLetterObj(row)">Get Letter</button>
                  </td>
                  <td>
                    <button class="button is-info is-small" [disabled]="!row.url"
                      (click)="openLetter(row.url, row.id, row.ltrId)">Open</button>
                  </td>
                  <td *ngFor="let header of headers">
                    <ng-container *ngIf="header === 'created'">{{row[header].toDate() | date:'yyyy/MM/dd h:mm:ss a'}}
                    </ng-container>
                    <ng-container *ngIf="header !== 'created'">{{row[header]}}</ng-container>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-hidden-mobile is-1"></div>
</div>
