<section class="section">
  <div class="columns">
    <div class="column is-hidden-mobile is-2"></div>
    <div class="column">
      <article class="message">
        <div class="message-header">
          <p>Q favicon</p>
        </div>
        <div class="message-body">
          <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
              href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </div>
      </article>
    </div>
    <div class="column is-hidden-mobile is-2"></div>
  </div>
</section>
