<div class="columns">
  <div class="column is-hidden-mobile is-2"></div>
  <div class="column">
    <breadcrumbs></breadcrumbs>
  </div>
  <div class="column is-2">
    <div>
      <button class="button is-link is-pulled-right is-small" (click)="createNewPdsa()">Add New PDSA</button>
    </div>
  </div>
  <div class="column is-hidden-mobile is-2"></div>
</div>
<div class="columns">
  <div class="column is-hidden-mobile is-2"></div>
  <div class="column">
    <div class="tile is-parent" *ngFor="let pdsa of (existingPdsas$ | async)" >
      <article class="tile is-child notification is-light" >
        <p class="subtitle">{{pdsa.aim}}</p>
        <button class="button is-link is-small" (click)="edit(pdsa.id)">Edit</button>
      </article>
    </div>

  </div>
  <div class="column is-hidden-mobile is-2"></div>
</div>
