<div class="columns">
  <div class="column is-hidden-mobile is-1" ></div>
  <div class="column is-8">
    <div class="tile is-ancestor" *ngIf="!uploadPending && !showUploadFlow">
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title">Upload</p>
          <upload-csv (uploadData)="uploadData($event)" [reset]="uploadReset"></upload-csv>
        </div>
      </div>
    </div>
    <div class="tile is-ancestor" *ngIf="uploadPending || showUploadFlow" >
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title" *ngIf="uploadPending">Upload Pending</p>
          <p class="title" *ngIf="!uploadPending">Upload Complete</p>
          <!-- <progress class="progress is-large is-info" max="100" *ngIf="uploadPending">60%</progress>
          <progress class="progress is-large is-info" max="100" *ngIf="!uploadPending">100%</progress> -->
          <div *ngFor="let item of uploadStatus" class="content is-normal ml-2">
            <div [ngSwitch]="item">
              <ng-container *ngSwitchCase="uploadSteps.UploadRecordsBeginning">
                <h3>Records Uploaded {{recordsUploaded}}</h3>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <h3>{{item}}</h3>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-hidden-mobile is-1"></div>
</div>
