<div class="modal" [ngClass]="{'is-active': showModal}" *ngIf="modalType === modalTypes.MailConfirmation">
  <div class="modal-background"></div>
  <div class="modal-content is-white">
    <div class="box">
      <h1 class="title">Send Statements</h1>
      <h2 class="subtitle">{{filename}}</h2>
      <div class="tags has-addons is-right">
        <span class="tag is-dark">LOB Environment</span>
        <span class="tag is-info">{{env}}</span>
      </div>

      <br>
      <nav class="level">
        <!-- Left side -->
        <div class="level-left">
          <div class="buttons">
            <button class="button is-outlined is-small" (click)="selectAll()">
              <span class="icon">
                <i class="far fa-check-square"></i>
              </span>
              <span>Select All</span>
            </button>
            <button class="button is-outlined is-small" (click)="unselectAll()">
              <span class="icon">
                <i class="far fa-square"></i>
              </span>
              <span>Unselect All</span>
            </button>
          </div>
        </div>

        <!-- Right side -->
        <div class="level-right">
          <div class="buttons">
            <button class="button is-link is-outlined is-small" (click)="startStatements()"
              [disabled]="!selectedCount || pending">
              <span class="icon">
                <i class="fas fa-mail-bulk"></i>
              </span>
              <span>Create Statements ({{selectedCount}})</span>
            </button>
          </div>
        </div>
      </nav>
      <progress *ngIf="!records.length || pending" class="progress is-large is-link" max="100">60%</progress>

      <div class="table-container" *ngIf="records?.length">
        <table class="table is-narrow is-fullwidth is-striped is-hoverable statement-table ">
          <thead>
            <th *ngFor="let heading of headings">
              {{heading}}
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let row of records; let i = index">
              <td>
                <input type="checkbox" [checked]='row.selected' (change)="rowSelected(row)" [disabled]="row.ltrId">
              </td>
              <td>
                <span class="icon statement-icon" [ngClass]="{'disabled': !row.ltrId}" (click)="openUrl(row.ltrId)">
                  <i class="fas fa-file-alt"></i>
                </span>
              </td>
              <td *ngFor="let field of fieldNames">{{row[field]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="done.emit()"></button>
</div>
