<div class="columns">
  <div class="column is-hidden-mobile is-1"></div>
  <div class="column is-10">

  </div>
  <div class="column is-hidden-mobile is-1"></div>

</div>

<div class="columns" *ngIf="history.length">
  <div class="column is-hidden-mobile is-1"></div>
  <div class="column column is-full-mobile is-10">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child box">
          <div class="table-container">
            <table class="table is-narrow is-striped upload-history-table">
              <thead>
                <tr>
                  <th *ngFor="let header of headerTitles">{{header}}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of history">
                  <td *ngFor="let header of headerKeys">
                    <ng-container *ngIf="header === 'filename'">{{row[header]}}
                    </ng-container>
                    <ng-container *ngIf="header === 'created'">{{row[header].toDate() | date:'yyyy/MM/dd h:mm:ss a'}}
                    </ng-container>
                    <ng-container *ngIf="header === 'what'">{{row[header] | uploadEvent}}</ng-container>
                    <ng-container *ngIf="header === 'userId'">{{row[header] | username | async}}</ng-container>
                  </td>
                  <td>
                    <button class="button is-link is-small" (click)="openStatementHistory(row.id)" >View Batch</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-hidden-mobile is-1"></div>
  </div>
</div>
