<nav class="breadcrumb" aria-label="breadcrumbs" *ngIf="(breadcrumbs$ | async)?.home">
  <ul>
    <!-- <li *ngIf="(breadcrumbs$ | async)?.home" (click)="homeClicked()">
              <a routerLink="/" routerLinkActive="active">Home</a>
            </li> -->
    <li *ngIf="orgId" (click)="orgClicked()">
      <a routerLinkActive="active">Organization</a>
    </li>
    <li *ngIf="orgId && siteId && pdsaId" (click)="pdsaClicked()">
      <a routerLinkActive="active">Site</a>
    </li>
  </ul>
</nav>
