<div class="columns">
  <div class="column is-hidden-mobile is-1"></div>
  <div class="column is-10">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-3">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <div class="tile is-child box side-bar">
              <aside class="menu">
                <p class="menu-label">
                  Review
                </p>
                <ul class="menu-list">
                  <li *ngFor="let item of reviewList; index as i;">
                    <ng-container *ngIf="i == 0">
                      <ul>
                        <li *ngFor="let child of item; index as c;">
                          <a [ngClass]="{'disabled': child.disabled && !child.checked, 'is-active': !child.disabled && !child.checked}"
                            (click)="reviewStepClicked(c)">
                            <checkbox [checked]="child.checked">
                            </checkbox>
                            <span>{{child.title}}</span>
                          </a>
                        </li>
                      </ul>
                    </ng-container>
                    <a *ngIf="i != 0"
                      [ngClass]="{'disabled': item.disabled, 'is-active': !item.disabled && !item.checked}"
                      (click)="mailStepClicked(i)">
                      <checkbox [checked]="item.checked"></checkbox>
                      <span>{{item.title}}</span>
                    </a>
                  </li>
                </ul>
              </aside>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent" *ngIf="!myOutlet.isActivated">
        <div class="tile is-child box">
          <progress *ngIf="!records.length || pending" class="progress is-small is-link" max="100">60%</progress>

          <div class="content" *ngIf='!hasPermission && !pending'>
            <h1>Permission Denied</h1>
            <p>
              Uh oh. Looks like you do have have the proper permission. Please check with an administrator for access.
            </p>
          </div>
          <div class="content" *ngIf='hasPermission && !pending'>
            <h1>Approve Batch For Mailing</h1>
            <p>Mailing will start immediately and <strong>cannot be undone</strong></p>
            <p><strong>{{records?.length}}</strong> Statements To Be Sent</p>

            <nav class="level">
              <div class="level-left"></div>
              <div class="level-right">
                <div class="buttons">
                  <button class="button is-success is-large is-fullwidth" (click)="areYouSure()">
                    <span class="icon">
                      <i class="fas fa-mail-bulk"></i> </span>
                    <span>Approve / Send Mail</span>
                  </button>
                </div>
              </div>
            </nav>

          </div>
        </div>
      </div>
      <router-outlet #myOutlet="outlet"></router-outlet>
    </div>
  </div>
  <div class="column is-hidden-mobile is-1"></div>
</div>
