.side-bar {
  max-height: 50vh;
}

.statement-table {
  font-size: 12px;
}

.statement-icon {
  color: hsl(217, 71%, 53%);
  font-size: 16px;
  cursor: pointer;
}

.statement-icon.disabled {
  pointer-events: none;
  color: lightgray;
}

.statement-table tr td:first-child {
  text-align: center;
  vertical-align: middle;
}

a.disabled {
  pointer-events: none;
  color: darkgrey
}

.back-button {
  cursor: pointer;
}
