<div class="columns">
  <div class="column is-hidden-mobile is-1"></div>
  <div class="column is-10">
    <div class="tile is-ancestor">

      <div class="tile is-vertical is-3">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <div class="tile is-child box side-bar">
              <aside class="menu">
                <p class="menu-label">
                  Review
                </p>
                <ul class="menu-list">
                  <li *ngFor="let item of reviewList; index as i;">
                    <ng-container *ngIf="i == 0">
                      <ul>
                        <li *ngFor="let child of item; index as c;">
                          <a [ngClass]="{'disabled': child.disabled && !child.checked, 'is-active': !child.disabled && !child.checked}"
                            (click)="reviewStepClicked(child.id)">
                            <checkbox [checked]="child.checked">
                            </checkbox>
                            <span>{{child.title}}</span>
                          </a>
                        </li>
                      </ul>
                    </ng-container>
                    <a *ngIf="i != 0"
                      [ngClass]="{'disabled': item.disabled, 'is-active': !item.disabled && !item.checked}"
                      (click)="mailStepClicked(i)">
                      <checkbox [checked]="item.checked"></checkbox>
                      <span>{{item.title}}</span>
                    </a>
                  </li>
                </ul>
              </aside>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent" *ngIf="!myOutlet.isActivated && showEmptyMessage">
        <div class="tile is-child box">
          <div class="content">
            <h4>Select next step in Review sidebar</h4>
          </div>
        </div>
      </div>
      <div class="tile is-parent" *ngIf="!myOutlet.isActivated && currentStep.title === stepTitles.MAILING_APPROVED">
        <div class="tile is-child box">
          <progress *ngIf="!records.length || pending" class="progress is-small is-link" max="100">60%</progress>

          <div class="content" *ngIf='!hasPermission && !pending'>
            <h1>Permission Denied</h1>
            <p>
              Uh oh. Looks like you do have have the proper permission. Please check with an administrator for access.
            </p>
          </div>
          <div class="content" *ngIf='hasPermission && !pending'>
            <h1>Approve Batch For Mailing</h1>
            <p>Mailing will start immediately and <strong>cannot be undone</strong></p>
            <p><strong>{{records?.length}}</strong> Statements To Be Sent</p>
            <nav class="level">
              <div class="level-left">
                <div class="select">
                  <select (change)="mailingOptionChanged($event)">
                    <option [value]="mailOptions.NONE">Please Select</option>
                    <option [value]="mailOptions.SKIP_MAILING">Skip Mailing (TEST)</option>
                    <option [value]="mailOptions.MAIL_TO_CHC">Mail To CHC (TEST)</option>
                    <option [value]="mailOptions.MAIL_TO_PATIENT">Mail To Patient (LIVE)</option>
                  </select>
                </div>
              </div>
              <div class="level-right">
                <div class="buttons" [ngSwitch]="selectedMailingOption">
                  <ng-container *ngSwitchCase="mailOptions.SKIP_MAILING">
                    <button class="button is-warning is-fullwidth"
                      (click)="startMail(mailOptions.SKIP_MAILING)">
                      <span class="icon">
                        <i class="fas fa-vial"></i>
                      </span>
                      <span>Skip Mail - Approve</span>
                    </button>
                  </ng-container>
                  <ng-container *ngSwitchCase="mailOptions.MAIL_TO_CHC">
                    <button class="button is-warning is-fullwidth" (click)="startMail(mailOptions.MAIL_TO_CHC)">
                      <span class="icon">
                        <i class="fas fa-mail-bulk"></i>
                      </span>
                      <span>Mail To CHC - Approve</span>
                    </button>
                  </ng-container>
                  <ng-container *ngSwitchCase="mailOptions.MAIL_TO_PATIENT">
                    <button class="button is-success is-fullwidth" (click)="startMail(mailOptions.MAIL_TO_PATIENT)">
                      <span class="icon">
                        <i class="fas fa-mail-bulk"></i>
                      </span>
                      <span>Mail To Patient - Approve</span>
                    </button>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <button class="button is-danger is-fullwidth" disabled="true">
                      <span class="icon">
                        <i class="fas fa-mail-bulk"></i>
                      </span>
                      <span>Please Select Mail Type</span>
                    </button>
                  </ng-container>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="tile is-parent" *ngIf="!myOutlet.isActivated && currentStep.title === stepTitles.MAILING_IN_PROGRESS">
        <div class="tile is-child box">
          <div class="content">
            <h1>Mailing In Progress - Do Not Close This Tab</h1>
            <progress class="progress is-small is-link" max="100">60%</progress>
            <p>
              Please wait, do not close this tab.
            </p>
          </div>
        </div>
      </div>
      <div class="tile is-parent" *ngIf="!myOutlet.isActivated && currentStep.title === stepTitles.MAILING_COMPLETE">
        <div class="tile is-child box">
          <h3>Mailing Has Been Started</h3>
          <h4>Upload, Explore, or Review another batch file</h4>
        </div>
      </div>
      <router-outlet #myOutlet="outlet"></router-outlet>
    </div>
  </div>
  <div class="column is-hidden-mobile is-1"></div>
</div>
