<div class="columns">
  <div class="column is-hidden-mobile is-1"></div>
  <div class="column">
    <div class="tabs is-toggle">
      <ul>
        <li [routerLinkActive]="['is-active']">
          <a [routerLink]="['/statements/upload-batch']">Upload</a>
        </li>
        <li [routerLinkActive]="['is-active']">
          <a [routerLink]="['/statements/review-batch']">Review</a>
        </li>
        <!-- <li [routerLinkActive]="['is-active']">
          <a [routerLink]="['/statements/upload-history']">Upload History</a>
        </li>
        <li [routerLinkActive]="['is-active']">
          <a [routerLink]="['/statements/statement-history']">Statement History</a>
        </li>
        <li [routerLinkActive]="['is-active']">
          <a [routerLink]="['/statements/activity']">All Activity</a>
        </li> -->
      </ul>
    </div>
  </div>
  <div class="column is-hidden-mobile is-1"></div>
</div>
<router-outlet></router-outlet>
