:host {
  color: black;
}

.new-and-previous-divider {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top-color: #dbdbdb;
}

.save-button {
  color: black;

  &:disabled {
    color: darkgray;
  }
}
