<div class="columns">
  <div class="column is-hidden-mobile is-1"></div>
  <div class="column is-10">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title">Template</p>
          <div class="select" *ngIf="(statements)?.length && (statements)?.length > 1">
            <select [(ngModel)]="selectedStatement" (change)="statementSelect(opt)">
              <option [ngValue]="undefined">None</option>
              <option *ngFor="let opt of statements" [ngValue]="(opt|async)?.id">{{(opt)?.name}}</option>
            </select>
          </div>
          <div *ngIf="(statements)?.length === 1">
            <span *ngFor="let opt of statements" class="tag is-info is-light">{{(opt)?.name}}</span>
          </div>
          <div *ngIf="!(statements)?.length || (statements)?.length === 0">
            <span class="tag is-danger">No Statements Available</span>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title">Environment</p>
          <div class="field is-grouped">
            <p class="control">
              <button class="button is-small is-outlined"
                [ngClass]="{'is-focused is-link': env === 'Test'}"
                (click)="toggleEnv('Test')">
                <span class="icon is-small">
                  <i class="fas fa-vial"></i>
                </span>
                <span>TEST Environment</span>
              </button>
            </p>
            <p class="control">
              <button class="button is-small is-outlined" [disabled]="!(user$|async)?.lobStatementsLive"
                [ngClass]="{'is-focused is-link': env === 'Live'}"
                (click)="toggleEnv('Live')">
                <span class="icon is-small">
                  <i class="fas fa-paper-plane"></i>
                </span>
                <span>LIVE Environment</span>
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title">Upload</p>
          <upload-csv (uploadData)="uploadData($event)" [reset]="uploadReset"></upload-csv>
          <div class="notification is-danger" [ngSwitch]="errorMessage" *ngIf="errorMessage">
            <h2 class="subtitle" *ngSwitchCase="'badData'">"Bad Data" - There seems to be an issue with this CSV</h2>
            <h2 class="subtitle" *ngSwitchCase="'selectStatement'">Select a statement</h2>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title">Stats</p>
          <div class="content">
            <ul type="1">
              <li>Statements = {{dataList?.length || 0}}</li>
              <li>Estimated Cost = {{estimatedCost}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent is-12">
        <div class="tile is-child box is-12">
          <!-- LOADING INDICATOR -->
          <progress class="progress is-danger" [value]="completedRequests"
            [max]="dataList?.length || 0" *ngIf="bulkLobRunning">10%</progress>
          <p class="title">Results

            <button [disabled]="!dataList?.length || bulkLobRunning" class="button is-danger is-small is-pulled-right"
              (click)="areYouSure()">Send All</button>
            <button [disabled]="!dataList?.length || bulkLobRunning" class="button is-small is-pulled-right"
              (click)="reset()">Clear</button>
          </p>
          <!-- TABLE -->
          <div class="table-container" [ngClass]="{'disabled': bulkLobRunning}">
            <table class="table is-narrow is-striped">
              <thead>
                <th *ngFor="let name of headingList">
                  {{name}}
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let row of dataList; let i = index">
                  <td *ngFor="let field of fieldNames">{{row[field]}}</td>
                  <td>
                    <button class="button is-link is-small" (click)="testOne(row, i)" [disabled]="row.url">Test&nbsp;<i
                        class="fas fa-vial"></i></button>
                  </td>
                  <td>
                    <button class="button is-link is-small" *ngIf="row.url"
                      (click)="openUrl(row.url, row.id)">Open&nbsp;<i
                        class="fas fa-link"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-hidden-mobile is-1"></div>
</div>
